* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 120px;
  height: 80px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trybewarts-login input {
  height: 35px;
  padding: 0 25px;
  border-radius: 10px;
  border: none;
}

#login {
  height: 35px;
  padding: 0 30px;
  background: rgb(255, 137, 3);
  border-radius: 10px;
  border: none;
}

#trybewarts-header-title {
  align-self: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 50px;
}
